*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

#nav{
    height: auto;
    width: 100%;
    background-color: #fff;
    /* border: 1px solid blue; */
    margin-top: 5px;
    position: sticky;
    top: 0;
    z-index: 3000;
    /* overflow: hidden; */
}

#nav > #upper{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    
}

#nav > #upper > a >  img{
    /* display: block; */
    padding-left: 2px;
}

#nav > #upper >  input{
    background-color: #eeeeee;
    border: none;
    margin-left: -28px;
    width: 50%;
    height: 41px;
    border-radius: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 12px;
    font-weight: 100;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    
}

#nav > #upper > p > a{
    color: gray;
    font-size: 13.9px;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 100;  
}

#nav > #upper > p > a{
    color: gray;
    font-size: 13.9px;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 100;
    text-decoration: none;  
}

.thinLine{
    /* color: blue; */
    border-left: 0.01px solid lightgray;
    height: 35px;
}

#nav > #upper > #thrline > div{
    /* display: block; */
    height: 2px;
    width: 22px;
    border: 1px  gray;
    background-color: gray;
    margin: 2.8px;
    margin-right: 20px;
}

button{
    height: 35px;
    width: 130px;
    letter-spacing: 1px;
    padding: auto;
    border: 1px solid lightgray;
    background-color: white;
    color: gray;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}

#lower{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: ; */
    margin-left: 15px;
    margin-right: 10px;
    /* background-color: #fff; */
    /* position: fixed; */
    
}



#nav > #lower >  p > a{
    color: gray;
    font-size: 13.9px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    cursor: pointer;  
    text-decoration: none;
}

#nav > #lower > p:hover{
    color: black;
    font-size: 14.1px;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 100;  
    text-decoration: underline;
}

#nav > #lower > p:nth-child(1){
    text-decoration: underline;
}

#images{
    height: auto;
    width: 100%;
    /* background: transparent; */
    /* overflow: hidden; */
    
}





#image > #head1 > h1{
    position: absolute;
    margin-left: 300px;
    margin-top: 170px;
    font-size: 70px;
    color: #eeeeee;
}

#image > #head1 > p:nth-child(2){
    position: absolute;
    margin-left: 300px;
    margin-top: 280px;
    font-size: 20px;
    color: #eeeeee;
    letter-spacing: 1px;
}

#image > #head1 > p:nth-child(2) > a{
    color: #eeeeee;
    
}

#image > #head1 > input{
    position: absolute;
    margin-top: 340px;
    margin-left: 300px;
    height: 55px;
    width: 60%;
    padding-left: 20px;
    font-size: 16px;
    color: lightgray;
    font-weight: 100;

}

#image > #head1 > p:nth-child(4){
    position: absolute;
    margin-top: 415px;
    margin-left: 300px;
    color: #eeeeee;
}

#image > #head1 > p:nth-child(5){
    position: absolute;
    margin-top: 550px;
    margin-left: 30px;
    color: #eeeeee;
}

#image > #head1 > p:nth-child(6){
    position: absolute;
    margin-top: 550px;
    margin-left: 530px;
    color: #eeeeee;
}

#image > #head1 > img:nth-child(7){
    position: absolute;
    height: 25px;
    margin-top: 530px;
    margin-left: 600px;
}
#image > #head1 > p:nth-child(8){
    position: absolute;
    margin-top: 560px;
    margin-left: 1100px;
    color: #eeeeee;
}




#image > div > img{
    /* background-image: url(https://images.unsplash.com/photo-1650168816095-0485dbdfdef9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80); */
    width: 100%;
    height: 590px;
    background-image: cover;
    /* background-size: cover; */
    /* position: relative; */
    font-family: 'Montserrat', sans-serif;
    /* height: 1000px; */
}

#heads {
    margin-top: 60px;
}

#heads > h1{
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
}

#heads > p{
    margin-left: 30px;
}


#footer{
    margin-top: 20px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#footer > div{
    margin-top: 20px;
    height: auto;
    width: 100%;
}

#footer > div > img{
    height: 300px;
    width: 100%;
    position: relative;
    cursor: zoom-in;
}

#footer > div > div > button{
    width: 40px;
    position: absolute;
    margin-top: -280px;
    margin-left: 360px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

#footer > div > div > button:hover{
    width: 40px;
    position: absolute;
    margin-top: -280px;
    margin-left: 360px;
    font-weight: bold;
    font-size: 24px;
    color: red;
}





