*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
}


#main{
    display: flex;
    width: 100%;
}

#left-side{
    height: 798px;
    width: 40%;
    /* border: 1px solid red; */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1655069334201-cceb075d36b9?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
    opacity: 0.7;
    /* height: 50%; */
    background-size: cover;
    font-family: 'Montserrat', sans-serif;

}

#left-side > div > img{
    /* display: flex; */
    padding: 40px;
    vertical-align: middle;
    
    /* justify-content: space-between; */
}

#left-side > div > h1{
    padding: 40px;
    text-align: center;
    margin-top: 140px;
    font-size: 43px;
    color: white;
    /* filter: brightness(1%); */
    
}

#left-side > div > p{
    text-align: center;
    font-size: 23px;
    margin-left: -20px;
    color: white;
    margin-top: -20px;
    font-weight: 100;
}

#left-side > div > p:nth-child(4){
    text-align: center;
    font-size: 13px;
    /* margin-left: -10px;   */
    color: white;
    margin-top: 290px;
    /* margin-bottom: 10px; */
    font-weight: 100;
}

#left-side > div > p > span{
    margin-left: -25px;
}



#right-side{
    height: 798px;
    width: 60%;
    /* border: 1px solid red; */
}

#right-side > h1{
    /* display: block; */
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 55px;
    letter-spacing: 1px;
}

#right-side > p{
    margin-top: 23px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

#right-side > p > a{
    color: gray;
    font-weight: 100;
}

#right-side > button > span > img{
    height: 25px;
    margin-right: 10px;
    /* margin-bottom: 10px; */
}

#right-side > button{
    margin: auto;
    height: 40px;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: 
    #1878f2;
    color: white;
    border: none;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#right-side > #mid{
    font-size: 13px;
    margin-top: 40px;
    margin-bottom: 40px;
}

form{
    height: auto;
    width: 60%;
    /* border: 1px solid blue; */
    margin: auto;

}



form > #labels {
    display: flex;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;

}

form > #labels > #lName{
    margin-left: 204px;
    /* font-size: 20px; */
}   
 

form > #inps > input{
    /* display: flex; */
    height: 38px;
    width: 45%;
    border-radius: 3px;
    border: 1px solid black;
}
form  > #inps > #lNameI{
    margin-left: 40px;
    height: 38px;
    /* width: 47%;  */
}



#eMail{
    margin-top: 20px;
}

#eMail > label{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#eMail > #eMails{
    margin-top: 10px;
    width: 100%;
    height: 38px;
}


#uName{
    margin-top: 20px;
}

#uName > label{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#uName > #uNames{
    margin-top: 10px;
    width: 100%;
    height: 38px;
}

#uName > label > span{
    color: gray;
}

#Password{
    margin-top: 20px;
}

#Password > label{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#Password > #Passwords{
    margin-top: 10px;
    width: 100%;
    height: 38px;
}

#Password > label > span{
    color: gray;
}

#btn > input{
    margin-top: 15px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;

}

#term{
    margin-top: 25px;
}


#term > p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 13px;

}

#term > p > a{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 13px;

}

